/* You can add global styles to this file, and also import other style files */
html {
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}
*{
  box-sizing: border-box;
}

main{
    max-width: 640px;
    margin: 0 auto;
}
header:after {
  background: #5b86e5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #36d1dc,
    #5b86e5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #36d1dc,
    #5b86e5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  content: "";
  position: absolute;
  width: 100%;
  display: block;
  height: 120px;
  top: 0;
  border-radius: 0 0 15px 15px;
}

header h1 {
  font-size: 0.83rem;
  color: #fff;
  font-weight: 700;
  position: relative;
  z-index: 1;
  padding: 15px 15px 2px;
  text-align: center;
}

.found {
  border: 2px solid green;
}

.video-wrapper {
  position: relative;
  transform: scale(0.5) translateX(0%);
  transform-origin: top center;
  max-height: 250px;
}

webcam,
#canvas {
  left: 0;
  right: 0;
  text-align: center;
  // width: 640px;
  // height: 480px;
  top: 0;
  display: block;
  border-radius: 20px;
  overflow: hidden;
  // border: 2px solid rgb(255 255 255 / 40%);
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px,
    rgb(0 0 0 / 5%) 0px 4px 6px -2px;
}

webcam {
  position: relative;
  z-index: 8;
  background: #e7eaf3;
}

#canvas {
  position: absolute;
  z-index: 9;
  pointer-events: none;
}

.d-flex {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.float-box {
  width: 220px;
  padding: 5px 15px;
  border-radius: 25px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  position: relative;
  margin: -29px auto 0;
  border: 1px solid #f1f1f2;
  z-index: 99;
  background: #fff;
  select {
    border: 0;
    width: 100%;
    padding: 5px;
    font-weight: bold;
    color: #0f5c69;
   background: #FFF;
  }

}


.detected-objects{
  padding: 5px 15px;
  h2{
  padding: 0;
  margin: 10px 0;
  font-size: 0.9rem;
  color: #a5b6c7;
  font-weight: 500;
  text-align: center;
  }
}
.list-unstyled li:active {
   background: #f1f1f1;
}
.list-unstyled{
  margin: 0;
  padding: 0;
  list-style: none;

  li{
    background: #FFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding:10px 15px 8px 25px;
    margin-bottom: 12px;
    font-size: 0.83rem;
    color: rgb(63, 65, 70);
    border-radius:18px;
    text-transform: capitalize;
    vertical-align: middle;
    font-weight: 500;
  }
  span{
    display: inline-block;
  }
  .object-name{
    width: 40%;
  }
  .translation{
    width: 40%;
  }
  .spk{
    width: 20%;
    vertical-align: middle;
    text-align: right;
  }
}

.translation small{
  color: red;
}

@media only screen and (min-width: 360px) {
  .video-wrapper {
    transform: scale(0.75) translateX(0);
    min-height: 320px;
  }
  .float-box {
    margin: -25px auto 0;
  }
}

@media only screen and (min-width: 480px) {
  .video-wrapper {
    transform: scale(0.75) translateX(-4%);
    position: relative;
    transform-origin: top center;
    min-height: 340px;
    margin: 0 auto;
  }
  .float-box {
    margin: -10px auto 0;
  }
  header h1 {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .video-wrapper {
    transform: none;
    position: relative;
    transform-origin: none;
    max-height: 100%;
    min-height: 100%;
  }
}

footer {
  position: absolute;
  bottom: 0;
  padding:5px 5px 8px;
  text-align: center;
  color:#aeb9c1;
  width: 100%;
  background: #fff;
}

footer a{
  font-size: 0.8rem;
  color:#aeb9c1;
}

